

.userCard {
  position: relative;
  width: 100%;
  bottom: 0;
  background: #fff;
  // border-radius: 11px;
  padding-bottom: 5%;
  margin: 0px;
  .userCardHeader {
    box-shadow: 2px 2px 2px #e8e4e4;
  }
  .userDetails {
    background: #ffd524;
    border-radius: 90px;
    display: flex;
    height: 21px;
    padding-left: 12px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 0;
  }
  .userPayDetails {
    position: absolute;
    right: 12px;
  }
  .userIcon {
    margin: 2%;
    margin-left: 9%;
    border: 1px solid #b9b1b1;
  }
  .userCardFooter {
    float: right;
  }
  .paddingVertical {
    padding: 10px 0px;
  }

  .tripItems {
    --padding-start: 0;
    --min-height: 30px;
  }

  .contactDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactIcon {
    font-size: 22px;
    color: #fff;
  }
  .contactTextSize {
    font-size: 12px;
  }
  button.button-native {
    --border-radius: 10px;
  }
  .detailsBtn {
    height: 60px;
    width: 100%;
    --border-radius: 10px;
  }
  .userCall {
    --background: #34C759;
    color: white;
  }

  .userMsg {
    --background: #30D158;
  }
  .userCancel {
    --background: linear-gradient(45deg, #FE695D, #AA2CE6) !important;
  }
}
.footerTitle {
  --color: #2f363e;
  font-size: 16px;
}

app-map {
  height: 200px;
}

.contentHead {
  display: flex;
  justify-content: space-between;
}

.item-native {
  --padding: 0;
}
.instruction {
  display: block;
  text-align: center;
  font-size: 13px;
}
.unwrapped {
  white-space: normal;
  overflow: hidden;
}
.map{
  padding: 30px;
}

.googleMap{
  height: 35%;
  width: 100%;
}


ion-toolbar.gradient-header::part(native) {
  background: linear-gradient(45deg, #FE695D, #AA2CE6) !important;
  color: white !important;
}

ion-title {
  color: white !important;
  font-weight: bold;
  text-align: center;
}

.driverCard {
  position: absolute;
  width: 100%;
  bottom: -7px;
  background: #fff;
  border-radius: 11px;
  padding-bottom: 5%;
}
.driverDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.driverStatusIcons {
  font-size: 26px;
  color: white;
}
.avatarDriver {
  width: 60px;
  height: 60px;
  margin-top: 15px;
  border: 1px solid #F9568D;
}

.cardContent {
  background: linear-gradient(45deg, #FE695D, #AA2CE6) !important;
  display: flex;
  justify-content: space-around;
  border-radius: 6px;
  padding: 3%;

  .driverDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .driverStatusIcons {
    font-size: 26px;
    color: white;
  }
  .detailText {
    color: white;
    font-size: 10px;
  }
  .detailsLabel {
    color: white;
    font-size: 13px !important;
  }
}
