<ion-header>
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ride #{{rideService.rideInfo.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">
  <div class="googleMap">
    <google-map  height="100%" width="100%" [center]="center" [options]="options" >
            @if (directionsResults$ | async; as directionsResults) { <map-directions-renderer [directions]="directionsResults"   />  }
    </google-map>   
  </div>
  <ion-card class="userCard ion-no-margin" *ngIf="rideService.rideUser.id">
    <ion-card-header color="light" class="userCardHeader">
      <div class="header-content">
        <ion-avatar class="avatarDriver">
          <img [src]="rideService.rideUser.profile_img || 'assets/images/userDefault.png'" />
        </ion-avatar>
        <div class="header-text">
          <h2 class="driver-name">
            {{ rideService.rideUser.name }}
          </h2>
          <p class="driver-meta">
            {{ rideService.rideUser.phone || rideService.rideUser.email }}
          </p>
        </div>
        <div class="fare-info">
          <span class="fare-amount">
            ${{ (rideService.rideInfo.totalFare || 0) | number:'1.2-2' }}
          </span>
          <span class="fare-distance">
            {{ rideService.rideInfo.distance || 0 }} km
          </span>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content color="light" class="ion-no-margin">
      <div class="borderBottom paddingVertical">
        <span class="section-label">Pick Up</span>
        <p class="address-text">
          {{ mapData.originAddress || 'Address not available' }}
        </p>
      </div>

      <div class="borderBottom paddingVertical">
        <span class="section-label">Drop Off</span>
        <p class="address-text">
          {{ mapData.destinationAddress || 'Address not available' }}
        </p>
      </div>

    

      <div class="contact-actions">
        <ion-row class="contact-row">
          <ion-col size="12" size-md="6">
            <ion-button class="detailsBtn userCall" (click)="callUser(rideService.rideUser.phone)">
              <div class="contactDetails ion-padding">
                <ion-icon name="call" class="contactIcon"></ion-icon>
                <span class="textBold textWhite contactTextSize">Call</span>
              </div>
            </ion-button>
          </ion-col>

          <ion-col size="12" size-md="6">
            <ion-button class="detailsBtn userMsg" (click)="chatWithUser()" disabled="true">
              <div class="contactDetails ion-padding">
                <ion-icon name="chatbubbles" class="contactIcon"></ion-icon>
                <span class="textBold textWhite contactTextSize">Message</span>
              </div>
            </ion-button>
          </ion-col>
 
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="myFooter" >
  <ion-col>
    <ion-button expand="block" fill="solid" class ="continue-button" (click)="goBack()">Close</ion-button>
  </ion-col>
</ion-footer>