.price{
    font-size: 20px;
    font-weight: bold;
    color: #AA2CE6;
    margin-top: 10px;
}

.location-text{
    font-size: 14px;
    color: #515151;
    margin-top: 10px;
}

.history-title{
    font-size: 20px;
    font-weight: bold;
    color: #515151;
    margin-top: 10px;
}

.car_card {
    height: 70px !important;
    --background: linear-gradient(45deg, #FE695D, #AA2CE6) !important;
    
  }
ion-item.car-item {
   padding-top: 5px;
   color: white !important;
    font-size: 15px !important;
    --background: transparent !important;
    --inner-border-width: 0 0 0px 0 !important;
  } 
ion-thumbnail.card_jobEarn {
    width: 50px !important;
    height: 50px !important;
    margin: 0px 8px 4px 0px !important;
  }

.usd_card {
    height: 70px !important;
    --background: linear-gradient(45deg, #FE695D, #AA2CE6) !important;
  }

ion-item.usd_item {
    padding-top: 5px;
    color: white !important;
    font-size: 15px !important;
  --background: transparent !important;
  --inner-border-width: 0 0 0px 0 !important;
}
ion-thumbnail.usercard-thumbnail {
    width: 48px !important;
    height: 48px !important;
    margin: 0px 8px 4px 0px !important;
    // background: red;
    border-radius: 8px;
  }

  .header-md:after {
    left: 0;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 1px !important;
    background-repeat: repeat-x;
    content: "";
    bottom: 0px;
  }
  
  .week_days {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }

  .weekdays_col {
    background: #FE695D !important;
    border: 2px solid #AA2CE6 !important;
    border-radius: 10px !important;
    margin-right: 10px;
    padding: 7px !important;
    color: white !important;
    width: 50px;
  }

  .defaultClass {
    border: 1px solid #FE695D !important;
    border-radius: 10px !important;
    margin-right: 10px;
    padding: 7px !important;
    background: rgba(241, 242, 246, 0.54);
    width: 50px;
  }


  h6.header_Para {
    margin: 0 5px 1px !important;
    
  }

  h6.header_Para_selected{
    margin: 0 5px 1px !important;
    color: white !important;
 }



  h2 {
    font-size: 19px;
    font-weight: bold;
  }
  
  ion-grid {
    background: white;
  }
  
 
  
