<ion-header >
  <ion-toolbar #toolbar>
    <ion-title color="light" class="uar-title">UAR-DRIVER</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
  

  <div>
    <ion-grid class="cash_Detail">
      <ion-row>
        <ion-col  class="ion-text-center">
          <h1 class="font_sizeh1"> $ {{rideService.stats.totalFare | number:'1.2-2' }}</h1>
          <p>GANANCIA TOTAL</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    
    <ion-list class="list_paddintTop">
      <ion-list-header>
        <ion-label class="ion-text-uppercase">
          Payment History
        </ion-label>
      </ion-list-header>

      <ion-card >
        <ion-item *ngFor="let ride of walletData">
          <ion-avatar style="background: linear-gradient(90deg, #FE695D, #AA2CE6); z-index: 121 !important" slot="start">
            <ion-img src='assets/images/dollar.png'></ion-img>
          </ion-avatar>
          <ion-label>
            <h3 class="ion-text-capitalize">Ride #{{ride.createdAt.toDate() }}</h3>
            <div class="amount_wallet">
              <p color="medium">{{ride.distance}} km</p>
              <h3> $ {{ride.totalFare}}</h3>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>

  </div>
  
  
  
  </ion-content>

 