// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-favorite: #FE695D;
    --ion-color-favorite-rgb: 255, 145, 37;
    --ion-color-favorite-contrast: #FA558E;
    --ion-color-favorite-contrast-rgb: 255, 255, 255;
    --ion-color-favorite-shade: #FE695D;
    --ion-color-favorite-tint: #AA2CE6;
  }